.Race {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 330px;
    height: auto;
    padding-bottom: 15px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    align-items: center;
}

.Race p {
    margin: 5px;
    height: fit-content;
}

.Race .Name {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin: 0;
    font-weight: bold;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    font-size: larger;
    -webkit-text-fill-color: rgb(255, 255, 255);
    background-color: rgb(0, 101, 255);
    padding: 8px;
    border-bottom: black 2px solid;
    width: 95%;
}

.Race label input[type="file"] {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Race select {
    flex-grow: 0;
}

.Race button {
    margin-top: 10px;
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: rgb(0, 82, 204);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);

}

.Race button:hover {
    background: rgb(0, 101, 255);
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
    color: rgb(255, 255, 255);
}

.Race label {
    margin-top: 10px;
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: rgb(0, 82, 204);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);

}

.Race label:hover {
    background: rgb(0, 101, 255);
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
    color: rgb(255, 255, 255);
}