.Result {
    display: flex;
    flex-direction: row;
    margin: 15px;
    width: 60vw;
    height: auto;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;

    align-items: center;

    justify-content: space-evenly;
}

h2 {
    font-size: xx-large;
}

.Result p:first-child {
    border: none;
}

.Result p {
    margin: 10px;
    font-size: 1.7em;
}

@media only screen and (max-width: 1000px) {
    .Result {
        width: 95vw;
        flex-direction: column;
    }
}